<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar-lewagon">
      <%= link_to lists_path do %>
      <%= image_tag "movie.png", width: 60 %>
      <% end %>
      <h1>LUCAS' THEATER</h1>
      <%= link_to new_list_path do %>
      <%= image_tag "create-list.png", width: 60 %>
      <% end %>
    </div>
        <%= yield %>
  </body>
</html>
